<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/LOGO_ICTAK.svg" alt="ICTAK" />
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payment-config-list">
      <mat-icon>settings</mat-icon> Payment Configurations
    </a>
    <a mat-list-item> <mat-icon>settings</mat-icon> Programs Configurations </a>
    <a mat-list-item> <mat-icon>attach_money</mat-icon> Payment Calculation </a>
    <a mat-list-item> <mat-icon>date_range</mat-icon> Time Sheet Entry </a>
    <a mat-list-item> <mat-icon>description</mat-icon> View Invoices </a>
  </mat-nav-list>
